.ThemeSwitcher-theme-button {
    margin: 14px 8px 0;
}

.ThemeSwitcher-light-theme-button {
    background-color: #edecea;
}

.ThemeSwitcher-dark-theme-button {
    background-color: #898481;
}

.ThemeSwitcher-active-button {
    border: 1px solid #61dafb;
}
